{% extends "base.html" %}

{% block title %}Carrito - Carnicería Pochito{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/carrito.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="flex flex-col items-center justify-center flex-grow px-4 py-10">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Carrito de Compras</h1>
    <p class="text-gray-600">Tu carrito está vacío 🛒</p>
</section>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
{% endblock %}
